<!--
  Generated template for the ComprasCrearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Recibos de compras </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-fab center bottom color="fabcustom">
        <button ion-fab (click)="getPicture()"><ion-icon name="camera"></ion-icon></button>
    </ion-fab>

    <ion-list>
        <h4>Fotos guardadas</h4>
        <ion-card *ngFor="let image of images" class="card_size">
            <img [src]="image" *ngIf="image" />
            <ion-card-content>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>